.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection-results {
	display: none;
  text-align: center;
}  
.selection-results img{
  margin: 0 auto;
  width: 20vw;
  height: 20vw;
}
.selection-results span {
	text-align: center;
  display: block;
  width: 200px;
  margin: 8px auto;
  font-family: 'Reisenberg 2.0';  
}
#showOne{
  padding:10px;
}
#showTwo{
  padding:10px;
}
#showThree{
  padding:10px;
}
select {
  font-family: 'Reisenberg 2.0'; 
  margin-bottom: 60px; 
}
.rap-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  font-family: 'Reisenberg 2.0';  
  font-size: 13px;

}

#rap, #studio, #promote {
  margin-right: 20px;
  width: 150px;
}

h1 {
  font-size: 60px;
  font-family: 'Let Me Ride'; 
} 

h3 {
  font-family: 'Reisenberg 2.0';  
  color: #000;
}